.App {
	background-color: #FFFFFF;
	min-height: 100vh;
}

#navbar-items {
	display: flex;
    justify-content: flex-start;
}

#wallet-button {
	float: left;
}

.Title-img {
	max-width: 100px;
	max-height: 100px;
	margin-right: 100px;
}

.navbar-item {
	display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 0px;
}

.navbar {
    list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 2vh 16vw;
	justify-content: space-between;
	align-items: center;
}

.Text-header {
	font-family: sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}

.Wallet-button {
	position: relative;
	font-family: sans-serif;
	color: rgb(0, 0, 0);
	/* box-shadow: 0px 0px 12px 5px rgb(245, 255, 120); */
	border-radius: 3px;
	border:  1px solid rgb(0, 0, 0);
	background: transparent;
	display: inline-block;
	font-size: 14px;
	white-space: normal;
	cursor: pointer;
	padding: 10px 18px;

}

.Wallet-button span {
	padding-left: 20px;
}

.Text-title-big {
	font-family: DeregularSemiBold;
	color: rgb(0, 0, 0);
	font-size: 48px;
	font-weight: 800;
}

.Text-title-small {
	font-family: DeregularSemiBold;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: 600;
	margin-top: 2vh;
}

.Main-container {
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	align-items: center;
	justify-content: center;
	padding: 5vh 0;
}

.button-border {
	/* box-shadow: 0px 0px 12px 5px rgb(0, 0, 0); */
	border-radius: 3px;
	border:  1px solid rgb(0, 0, 0);
}

.wallet-checkmark {
	position: absolute;
	float: left;
	left: 19px;
    top: 30%;
	max-width: 15px;
	padding-right: 10px;
}

.connected-wallet-info span {
	padding-left: 25px;
}

@font-face {
	font-family: 'DeregularSemiBold';
	src: local('DeregularSemiBold'), url(./fonts/degular-semibold.otf) format('opentype');
}